<p>Здравствуйте, {{ name }}!</p>

<p>Поступил запрос на смену вашего пароля.</p>

<p>Ваш новый пароль: {{ password }}</p>

<p>Если вы не отправляли этот запрос, пожалуйста, проигнорируте это письмо.</p>


<p><a href="https://pl.trade-study.ru/auth">https://pl.trade-study.ru/auth</a> — Платформа</p>
<p><a href="https://t.me/+bMJN5S5ADrNiNzUy">https://t.me/+3ZO3yVVBGalhNjY6</a> — Канал</p>
<p><a href="https://t.me//gotradehelp">https://t.me/gotradehelp</a> — Мой телеграм</p>

<p>С уважением, команда GoTrade ❤️</p>


<p><a href="https://t.me/sth_support">https://t.me/sth_support</a> — по всем техническим вопросам сюда</p>
