<h1>Приветствую, Дорогой Друг!</h1>

<p>Благодарю тебя, что ты присоединился(присоединилась) к нашей образовательной платформе!</p>

<p>Впереди тебя ждёт море полезной, а главное - качественной информации</p>

<p>Для начала прошу подписаться на канал, где будут важные новости на счёт обучения. Канал — <a href="https://t.me/+3ZO3yVVBGalhNjY6">https://t.me/+3ZO3yVVBGalhNjY6</a></p>

<p>Все обучение проходит на нашей образовательной платформе. Данные для входа у тебя в этом письме</p>

<p>Переходи по ссылке - <a href="https://pl.trade-study.ru/auth">https://pl.trade-study.ru/auth</a> и авторизуйся</p>

<p>Для входа на сайт используйте ваш email и сгенерированный пароль (который можно сменить в личном кабинете):</p>

<ul>
    <li>Email: {{ email }}</li>
    <li>Пароль: {{ password }}</li>
</ul>

<p>Кроме обучения ты там найдёшь : скринер, ссылки на ботов, новостной портал, личный кабинет и т.д.</p>

<p>Все вопросы по обучению и просто ты можешь задать мне в телегам - <a href="https://t.me/sthtrade">https://t.me/sthtrade</a></p>

<p>Спасибо, что выбрал нас🔥</p>
