<h1>Дорогой друг, приветствую тебя на нашем обучении!</h1>

<p>Пройдемся по порядку, что вам нужно сделать для начала:</p>

<ol>
  <li>Подписаться на наш канал, там вы найдете всю необходимую информацию и сможете приступить к делу - <a href="https://t.me/+bMJN5S5ADrNiNzUy">https://t.me/+bMJN5S5ADrNiNzUy</a></li>
  <li>Можете начать обучение сразу же на платформе (но обязательно подпишитесь на канал) - <a href="https://pl.trade-study.ru">https://pl.trade-study.ru</a></li>
  <li>При возникновении вопросов сразу же обращайтесь в поддержку - <a href="t.me//gotradehelp">t.me//gotradehelp</a></li>
</ol>

<p>Ниже вам будут предоставлены персональные данные для входа на платформу с обучением. Пароль сможете поменять после входа в личном кабинете.</p>

<ul>
  <li>Email: {{ email }}</li>
  <li>Пароль: {{ password }}</li>
</ul>

<p>Спасибо за внимание, отличного дня!</p>
